<p><%= respuesta %></p>
<!-- Muestra el enlace si es incorrecta la respuesta usando EJS --> 
<%	if (respuesta === 'Incorrecto') { %>
		<a href="/quizes/question">Intentelo otra vez ...</a>
<%	}	 
	else { %>
		<a href="/">Comienza de Nuevo</a>
<%	} %>
